{% extends "layout.html" %}
{% block body %}
  <form action="/add-idea" method="post">
    <textarea name="idea"></textarea>
    <input type="submit" value="Add idea" />
  </form>
  <table>
    <tr>
      <th>ID</th>
      <th>Idea</th>
      <th>Counter</th>
      <th>Bump</th>
    </tr>
    {% for idea in ideas %}
    <tr>
      <td>{{ idea.id }}</td>
      <td>{{ idea.idea }}</td>
      <td>{{ idea.count }}</td>
      <td>
        <form action="/bump-idea" method="post">
          <input type="hidden" name="id" value="{{ idea.id }}" />
          <input type="submit" value="+" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
